@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --fonte01:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    --fonte02:"Savate", sans-serif;
    --fonte03:"Alegreya", serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    min-width: 300px;
    font-family:var(--fonte01);
    text-align: justify;
    
    
}
header {
    height: 300pxpx;
    background-color: cornflowerblue;
    padding: 50px;
    text-align:center ;
}
header h1 {
    font-size: 7vh;
    font-family: var(--fonte02);
}
header > p {
    padding: 5px;
}
main {
    background-color: aliceblue;
    line-height: 2.3em;
    margin-left: 50px;
    margin-top: 20px;
}
main > a {
    text-decoration: none;
    color: rgba(230, 8, 8, 0.714);
    
}
main > a:hover {
    background-color: rgb(198, 141, 164);
    color: white;
    text-decoration: underline;
}
main > aside,a::before {
    content: '🔗';
}
section > h2 {
    font-family: var(--fonte03);
    font-size: 1.8em;
    padding: 5px;
}
section > h3 {
    font-family: var(--fonte03);
    padding: 5px;
}
aside a {
    text-decoration: none;
    color: rgba(230, 8, 8, 0.714);
}
aside a:hover {
    background-color: rgb(198, 141, 164);
    color: white;
     text-decoration: underline;
}
.normal {
    padding: 20px;
    text-shadow: 2px 1px 0px black;
    color: white;
}
.imagem {
    padding: 20px;
    text-shadow: 2px 1px 0px black;
    display: inline-block;
    
}
section#img01 {
    background-color: black;
    box-shadow: inset 6px 6px 16px black;
    background-image: url(imagens/tartaruga.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
section#img02 {
    background-color: black;
    background-image: url(imagens/pombos.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 16px rgba(0, 0, 0, 0.542);
    color: white;

}
section#img03 {
    background-color: black;
    color: white;
    background-image: url(imagens/esquilo.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 16px rgba(0, 0, 0, 0.542);
}
#img04 {
    background-color: black;
    color: white;
}
footer {
    background-color: cadetblue;
    color: black;
    text-align: center;
}
footer > a {
    text-decoration: none;
    color: rgb(31, 31, 223);
    font-weight: bold;
    padding: 2px;
}
footer > a:hover {
    background-color: blue;
    color: white;
    font-weight: normal;
    border-radius: 10px;
}