


main {
    background-color: aliceblue;
    line-height: 2.3em;
    margin-left: 50px;
    margin-top: 20px;
}
main > a {
    text-decoration: none;
    color: rgba(230, 8, 8, 0.714);
    display: inline;
}
main > a:hover {
    background-color: rgb(198, 141, 164);
    color: white;
    text-decoration: underline;
    border-radius: 10px;
}
main > aside,a::before {
    content: '🔗';
}
section > h2 {
    font-family: var(--fonte03);
    font-size: 1.8em;
    padding: 5px;
}
section > h3 {
    font-family: var(--fonte03);
    padding: 5px;
}
span a {
    display: inline-block;
    text-decoration: none;
    color: rgba(230, 8, 8, 0.714);
    display: inline-block;
    text-indent: 10px;
}
span a:hover {
    background-color: rgb(198, 141, 164);
    color: white;
    text-decoration: underline;
    border-radius: 10px;
}
aside a {
    text-decoration: none;
    color: rgba(230, 8, 8, 0.714);
    display: inline-block;
    text-indent: 10px;
}
aside a:hover {
    background-color: rgb(198, 141, 164);
    color: white;
     text-decoration: underline;
     border-radius: 10px;
}
section.normal {
    padding: 50px;
    text-shadow: 2px 1px 0px black;
    color: white;
    margin-top: 30px;
}
section.imagem {
    background-color: black;
    padding: 50px;
    text-shadow: 2px 1px 0px black;
    display: inline-block;
    margin-top: 50px;
    box-shadow: inset 6px 6px 16px black;
}
section#img01 {
background:black, url(imagens/tartaruga.jpg) center center fixed;
    box-shadow: inset 6px 6px 16px black;
    background-size: cover;
    color: white;
    display: inline-block;
}
section#img02 {
    background:black, url(imagens/papagaios.jpg) center center fixed;
    background-size: cover;
    color: white;
    display: inline-block;
}
section#img03 {
    background:black, url(imagens/esquilo.jpg) center center fixed;
    color: white;
    background-size: cover;
    display: inline-block;
}
#img04 {
    background-color: black;
    color: white;
}

footer > a {
    text-decoration: none;
    color: rgb(31, 31, 223);
    font-weight: bold;
    padding: 2px;
    display: inline-block;
}
footer > a:hover {
    background-color: blue;
    color: white;
    font-weight: normal;
    border-radius: 10px;
}